@import url(./List.css);
@import url(./modal.css);
@import url(./Notes.css);
@import url(./Login.css);
@import url(./Signup.css);
@import url(./projects.css);
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,
ol,
dl {
    margin: 0;
}

img {
    border: none;
    max-width: 100%;
}

.App {
    height: 100%;
    font-size: 1rem;
}
