.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	width: 80%;
	padding: 1rem;
}

.search-bar input {
	width: 100%;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	color: #6b6b6b;
}

.user-info {
	box-sizing: border-box;
	height: 8vh;
	padding: 1rem 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.image {
	margin-left: 2rem;
	height: 80%;
}

@media (max-width: 600px) {
	.user-info {
		padding: 0.5rem;
	}
	.user-info div {
		font-size: 0.75rem;
	}
	.search-bar {
		padding: 0.5rem;
	}
	.image {
		margin-left: 0.5rem;
	}
}
