::-webkit-scrollbar {
	width: 10px;
	/* position: absolute;
	left: 10px; */
}

::-webkit-scrollbar-track {
	margin-top: 1rem;
	margin-bottom: 10px;
}

.notes {
	width: 100%;
	height: 90%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #e8ecec;
	border-radius: 1.5rem;
	padding: 1.5rem;
}

.sectionheading {
	margin: 0.5rem 0;
	font-size: 1.25rem;
	text-transform: capitalize;
}

.newnote {
	box-shadow: 0 0 28px 0 rgba(72, 174, 174, 0.07);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	padding: 1rem;
	background-color: white;
	border-radius: 1rem;
}

.shownewnote {
	background-color: white;
	border: none;
	font-size: 1.5rem;
	color: #329c89;
	border-radius: 0.7rem;
	margin-bottom: 0.5rem;
}

#title,
#description {
	font-weight: bold;
	width: 100%;
	font-size: 1rem;
	margin: 0.25rem 0;
	border: none;
	padding: 0.25rem;
	font-family: "Poppins", sans-serif !important;
}

#description {
	resize: none;
}

#description:focus,
#title:focus {
	background-color: #f5f9f9;
	outline: none;
}

#submit {
	border: none;
	font-size: 1rem;
	align-self: flex-end;
	text-align: right;
	background: none;
	transition: 0.2s ease-in;
	cursor: pointer;
	z-index: 1;
	border-radius: 1rem;
	padding: 0.25rem 1rem;
}

#submit:hover {
	background: #f5f9f9;
}

#submit:focus {
	background-color: black;
	color: white;
}

.error {
	text-align: center;
	width: 90%;
	margin: 0.5rem auto;
	padding: 0.5rem 0;
	border-radius: 1rem;
	font-size: 1rem;
	color: rgb(209, 57, 57);
}

.hidden {
	display: none;
}

@media (max-width: 600px) {
	.notes {
		padding: 1rem;
		border-radius: 0.75rem;
		overflow-y: auto;
		height: 400px;
		margin: 1rem 0;
	}
	.newnote {
		border-radius: 0.5rem;
	}
	.shownewnote {
		border-radius: 0.5rem;
	}
	.error {
		width: 70%;
	}
}
